<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Yams</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js" ></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="flex flex-col gap-4 pt-24 items-center h-screen" hx-headers='{"game-uuid": "{{{gameUuid}}}"}'>
    <div
      hx-get="/score"
      hx-trigger="load, game-reset from:body, score-updated from:body"
      class="flex flex-col gap-2 items-center"
    >>{{> score }}</div></div>
    <div id="game" class="flex flex-col gap-6 items-center">
      <div id="dice" class="flex gap-2 bg-green-700 p-6 w-[205px] h-[73px]">
      </div>
      <div class="flex gap-2">
        <div
          class="h-8"
          hx-trigger="load, dice-thrown from:body, game-reset from:body, score-updated from:body"
          hx-get="/main-button"
        >{{> throwDiceButton label=throwDiceButtonLabel }}</div>
        <button hx-post="/reset" hx-target="#dice" class="bg-red-400 text-white rounded-md px-2 py-1">
          Reset
        </button>
      </div>
    </div>
    <div
      hx-get="/score-options"
      hx-trigger="load, dice-thrown from:body, game-reset from:body, score-updated from:body"
      class="flex flex-col gap-2 items-center"
    ></div>
  </body>
</html>